.tombol{
    text-align: center;
    margin: 20px;
}
button {
    background-color: #4c74af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#reset{
    background-color: #f44336; /* Red */
}

#reset:hover{
    background-color: rgb(158, 14, 14);
}
#reset:active{
    background-color: rgb(204, 59, 59);
}

button:hover {
    background-color: #191a61;
}
button:active{
    background-color:rgb(70, 70, 116);
}

h1{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
}